<div class="row justify-content-end mr-5">
    <div class="col-9 justify-content-end " *ngFor="let pub of loadedDetails">
        <h3 class="shadow  py-3 text-center mt-5">Détails: {{pub.title}} </h3>
        <div class="row">
            <div class="col-4 mt-5">
                <span>theme: {{pub.theme.theme}}</span>
            </div>
            <div class="col-4 mt-5">
                <span>action: {{pub.action.actions}}</span>
            </div>
            <div class="col-4 mt-5">
                <span>profile type: {{pub.profile.type.type}}</span>
            </div>
            <div class="col-4 mt-5">
                <span>public Cible: {{pub.publicCible.name}}</span>
            </div>
            <div class="col-4 mt-5">
                <span>{{pub.startedAt}}</span>
            </div>
            <div class="col-4 mt-5">
                <span>{{pub.endAt}}</span>
            </div>
            <div class="col-9 mt-5 mx-auto">
                <span>{{pub.description}}</span>
            </div>
        </div>
    </div>
</div>