.footer {
    position: relative;
    bottom: 0;
    width: 100%;
   background-color:#f8f9fa;
  }

  .liens, .liens:hover 
  {
    text-decoration:none;
    color: gray;
  }

  /* .col-2 {
    /* flex: 0 0 16.666667%;
    max-width: 16.666667%; */
    /* padding-top: 10px;
    padding-bottom: 10px; */
    /* box-sizing: border-box; 
} */


  