<div class="row justify-content-center mt-5 pt-5 position-fixed">
  <div class="col-11 mt-5">
    <button routerLink="/mon-compte" mdbBtn type="button" size="lg" color="deep-orange" mdbWavesEffect>Més Information</button>
  </div>
  <div class="col-11 mt-3">
    <button routerLink="/mon-compte/profiles"  mdbBtn type="button" size="lg" color="deep-orange" mdbWavesEffect>Més Profiles</button>
  </div>
  <div class="col-11 mt-3">
    <button mdbBtn type="button" size="lg" color="deep-orange" mdbWavesEffect>Amber</button>
  </div>
</div>
