<div class="row mt-5">
    <div class="col-md-4 mb-5">
        <h1 class="text-center mb-5">Uploader des images</h1>
        <div class="row">
            <form action="" class="form mx-auto">
                <input type="file" class="btn btn-light" multiple="multiple" (change)="onSelected($event)">
                <button class="btn btn-light" (click)="onUpload()">Upload</button>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <h1 class="text-center mb-5">Images associées à la publication</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-4" *ngFor="let publicationPicture of publicationPictures; let i = index; first as isFirst; last as isLast">
                <img src="https://localhost:8000/publication/pictures/{{ publicationPicture['filePath'] }}" class="img-fluid mx-auto d-block" alt="Responsive image">
                <p class="text-center mt-1">
                    <button class="btn btn-danger" value="{{ publicationPicture['id'] }}" (click)="onDelete($event)">
                        <svg value="{{ publicationPicture['id'] }}" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                    ||
                    <button class="btn btn-light" *ngIf="!isFirst" value="{{ i }}" (click)="toUpper($event)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </button>
                    {{ i + 1 }}
                    <button class="btn btn-light" *ngIf="!isLast" value="{{ i }}" (click)="toLower($event)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
    
