<mdb-carousel [isControls]="false" class="carousel slide  h-50 carousel-fade" [animation]="'fade'" *ngIf="home">
  <mdb-carousel-item *ngFor="let imgPath of imgPaths">
    <img class="d-block w-100" src="https://localhost:8000/home/pictures/{{ imgPath.filePath }}" alt="First slide">
<!--  <div class="black-overlay"></div>-->
<!--    <div class=" black-overlay-text mt-5 pt-5">In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the outline="true" ones to remove all background images and colors on any button.</div>-->
  </mdb-carousel-item>
</mdb-carousel>

<div class="row m-0 justify-content-lg-end">
    <div class="d-none d-lg-inline-flex col-2">
        <app-filters></app-filters>
    </div>
    <div class="col-lg-10">
        <router-outlet></router-outlet>
    </div>
</div>





