<div class="row justify-content-end mr-5">
    <div class="col-9 justify-content-end">
        <h3 class="shadow bg-warning py-3 text-center mt-5">Dernières Publications</h3>
        <div class="row">
            <div class="col-4 mt-5"  
            *ngFor="let pub of loadedPub">
                <div class="card shadow-lg h-100 ">
                    <img src="http://lorempixel.com/400/200/" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h6 class="card-title">{{pub.title}}</h6>
                    <p class="card-subtitle mb-2 text-muted">{{pub.createdAtAgo }}</p>
                    <span class="card-subtitle mb-2 text-muted">   {{ pub.theme.theme }}  |</span>
                    <span class="card-subtitle mb-2 text-muted">   {{pub.action.actions}}  |</span>
                    <p class="card-subtitle mb-2 text-muted">   {{pub.publicCible.name}}</p>
                    <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
        </div>
        <button (click) = "onPub()" class="shadow-lg btn btn-warning my-5" >load more</button>
        
    </div>
    <div class="col-9 justify-content-end">
        <h3 class="shadow bg-warning py-3 text-center mt-5">A La UN</h3>
        <div class="row">
            <div class="col-4 mt-5"  
            *ngFor="let pub of loadedPub">
                <div class="card shadow-lg h-100 ">
                    <img src="http://lorempixel.com/400/200/" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h6 class="card-title">{{pub.title}}</h6>
                    <p class="card-subtitle mb-2 text-muted">{{pub.createdAtAgo }}</p>
                    <span class="card-subtitle mb-2 text-muted">   {{ pub.theme.theme }}  |</span>
                    <span class="card-subtitle mb-2 text-muted">   {{pub.action.actions}}  |</span>
                    <p class="card-subtitle mb-2 text-muted">   {{pub.publicCible.name}}</p>
                    <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
        </div>
        <button (click) = "onPub()" class="shadow-lg btn btn-warning my-5" >load more</button>
        
    </div>
</div>