<div class="container-fluid">

  <!-- DataTales Example -->

  <div class="row justify-content-around" >
    <div class="text-center spinner my-auto position-absolute" *ngIf = "isLoading" >
      <app-loading-spinner></app-loading-spinner>
    </div>
  <div class="card shadow mb-4 col-lg-7" *ngIf = "!isLoading">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des profils</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="md-form">
              <input
                type="text"
                [(ngModel)]="searchText"
                class="form-control"
                id="search"
                mdbInput
              />
              <label for="search">
                <mdb-icon fas icon="search" class="mr-auto"></mdb-icon></label>
            </div>
          </div>
        </div>
        <table mdbTable class="display table" id="dataTable" width="100%">
          <thead>
            <tr>
            <th>#</th>
            <th [mdbTableSort]="profiles" sortBy="type.type">Type</th>
            <th [mdbTableSort]="profiles" sortBy="sousType.sousType">Sous Type</th>
            <th [mdbTableSort]="profiles" sortBy="nameVoie">Rue</th>
            <th [mdbTableSort]="profiles" sortBy="city">Ville</th>
            <th scope="col">Éditer</th>
            <th scope="col">Supprimer</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>#</th>
            <th [mdbTableSort]="profiles" sortBy="type.type">Type</th>
            <th [mdbTableSort]="profiles" sortBy="sousType.sousType">Sous Type</th>
            <th [mdbTableSort]="profiles" sortBy="nameVoie">Rue</th>
            <th [mdbTableSort]="profiles" sortBy="city">Ville</th>
<!--            <th scope="col">Éditer</th>-->
<!--            <th scope="col">Supprimer</th>-->
          </tr>
          <tr>
            <td class="text-center" colspan="4">
              <pagination-controls lang="fr" id="pubsList" maxSize="6" directionLinks=false (pageChange)="page = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let i = index; let el of profiles | paginate: {id: 'pubsList', itemsPerPage: 5, currentPage: page, totalItems: NumberOfPub }">
            <td>{{i+1}}</td>
            <td>{{el.type.type}}</td>
            <td>{{el.sousType.sousType}}</td>
            <td>{{el.numVoie}} {{el.nameVoie}}</td>
            <td>{{el.codePostal}} {{el.city}}</td>
<!--            <td>-->
<!--              <a  routerLink="/admin/profile/{{el.id}}/edit"><mdb-icon class="purple-text" fas icon="pencil-alt"></mdb-icon></a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <mdb-icon fas icon="trash-alt" (click)="basicModal.show()" class="pink-text ml-3"  mdbWavesEffect></mdb-icon>-->

<!--              <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">-->
<!--                <div class="modal-dialog" role="document">-->
<!--                  <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                      <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">-->
<!--                        <span aria-hidden="true">×</span>-->
<!--                      </button>-->
<!--                      <h4 class="modal-title w-100" id="myModalLabel">Attention</h4>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                      Supprimer  profil<br>-->
<!--                      Toutes les publications liées à ce profil seront supprimées, vous ne pourrez plus récupérer cette profil-->

<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                      <button type="button" mdbBtn color="deep-purple" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Annuler</button>-->
<!--                      <button type="button" mdbBtn color="red" class="relative waves-light" mdbWavesEffect (click)="basicModal.hide(); onDelete(el.id);" >Confirmer la suppression</button>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div></td>-->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="col-lg-4">
  <div class="card shadow mb-4 " *ngIf = "!isLoading">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Total Profiles</h6>
    </div>
    <div class="card-body">
      <h1 class="text-center text-info">{{NumberOfPub}}</h1>
    </div>
  </div>
  <div class="card shadow mb-4  " *ngIf = "!isLoading">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Profil par type</h6>
    </div>
    <div class="card-body">
      <div class="row justify-content-around">
      <div class="col-5" *ngFor="let item of typeObject | keyvalue">
        <h5 class="text-center">{{item.key}}</h5>
        <h1 class="text-center text-info">{{item.value}}</h1>
      </div>
      </div>
<!--      <canvas id="myChart"></canvas>-->
    </div>
  </div>

</div>
  </div>
</div>
