<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Profil
            </button>
            </h5>
        </div>
  
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" *ngFor="let profil of profils">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="profil-filter-{{ profil.id }}">
                    <label class="form-check-label" for="profil-filter-{{ profil.id }}">
                        {{ profil.type }}
                    </label>
                  </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Public
            </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body" *ngFor="let public of publics">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="public-filter-{{ public.id }}">
                    <label class="form-check-label" for="public-filter-{{ public.id }}">
                        {{ public.name }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Thème
            </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body" *ngFor="let theme of themes">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="theme-filter-{{ theme.id }}">
                    <label class="form-check-label" for="theme-filter-{{ theme.id }}">
                        {{ theme.theme }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Action
            </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body" *ngFor="let action of actions; let i = index">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="action-filter-{{ i + 1 }}">
                    <label class="form-check-label" for="action-filter-{{ i + 1 }}">
                        {{ action }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Structure
            </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body" *ngFor="let structure of structures; let i = index">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="structure-filter-{{ i + 1 }}">
                    <label class="form-check-label" for="structure-filter-{{ i + 1 }}">
                        {{ structure }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Département
            </button>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body" *ngFor="let departement of departements; let i = index">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="departement-filter-{{ i + 1}}">
                    <label class="form-check-label" for="departement-filter-{{ i + 1}}">
                        {{ departement }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
