<div class="row my-5 justify-content-center">
  <div class="col-8 my-5 ">
    <p class="h4  my-5">Mes centres d'intérêts</p>
    <div class="col-12 mx-auto">
      <form class="text-center  p-5 " #centreOfInterest="ngForm" (ngSubmit)="onSubmit()" >
      <div class="custom-control form-group custom-checkbox custom-control-inline col-5 my-2" *ngFor="let interest of interests;let k=index;">
        <input type="checkbox" class="custom-control-input" [name]="interest.id" [id]="interest.id"  ngModel   [value]="interest.id" (change)="onCheck(interest.id)" #fdq="ngModel">
        <label class="custom-control-label h6" for="{{ interest.id }}">{{interest.CenterOfInterest}}</label>
      </div>
        <div class="col-11">
          <button class="mt-5" mdbBtn color="amber" mdbWavesEffect type="submit" >{{"save"}}</button>
        </div>
      </form>
    </div>

  </div>
</div>

