<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{"Liste des Publications" | uppercase}}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="md-form">
              <input
                type="text"
                [(ngModel)]="searchText"
                class="form-control"
                id="search"
                mdbInput
              />
              <label for="search">
                <mdb-icon fas icon="search" class="mr-auto"></mdb-icon></label>
            </div>
          </div>
        </div>
        <table mdbTable  class="display table" id="dataTable" width="100%">
          <thead>
          <tr>
            <th>#</th>
            <th [mdbTableSort]="pubs" sortBy="title">Titre</th>
            <th [mdbTableSort]="pubs" sortBy="user.email">email</th>
            <th [mdbTableSort]="pubs" sortBy="profile.id">Profil</th>
            <th [mdbTableSort]="pubs" sortBy="publicCible.name">PublicCible</th>
            <th [mdbTableSort]="pubs" sortBy="createdAtAgo">Crée a</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>#</th>
            <th [mdbTableSort]="pubs" sortBy="title">Titre</th>
            <th [mdbTableSort]="pubs" sortBy="user.email">email</th>
            <th [mdbTableSort]="pubs" sortBy="profile.id">Profil</th>
            <th [mdbTableSort]="pubs" sortBy="publicCible.name">Public Cible</th>
            <th [mdbTableSort]="pubs" sortBy="createdAtAgo">Crée a</th>
          </tr>
          <tr>
            <td colspan="4">
              <pagination-controls lang="fr" id="pubsList" maxSize="6" directionLinks="true " (pageChange)="page = $event"></pagination-controls>
            </td>
          </tr>
          </tfoot>
          <tbody>
          <tr *ngFor="let el of pubs | paginate: {id: 'pubsList', itemsPerPage: 5, currentPage: page, totalItems: NumberOfPub }">
            <td>{{el.title}}</td>
            <td><a routerLink="/admin/users/{{el.user.id}}/edit">{{el.user.email}}</a></td>
            <td><a routerLink="/admin/profile/{{el.profile.id}}/edit">{{el.profile.id}}</a></td>
            <td>{{el.publicCible.name}}</td>
            <td>{{el.createdAtAgo }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card shadow mb-4 ">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{"Total des Publications" | uppercase}}</h6>
      </div>
      <div class="card-body">
        <h1 class="text-center text-info">{{NumberOfPub}}</h1>
      </div>
    </div>

  </div>
</div>
